#btn-play{
	position: absolute;
	margin: auto;
	left:calc(50% - 64.084px);
	/*right: 0;*/
	top:calc(50% - 25px);
	/*bottom: 0;*/
	height: 50px;
	width: 128.17px;
}

body{
	height: 100vh;
}
.background-1{
	background-image: url(../component/img/bg-menu.png);
	background-size:100% auto;
	height: 100vh;
}